---
interface Props {
  id: string
  eyebrow: string
  title: string
}

const { id, eyebrow, title } = Astro.props
---

<section
  {id}
  aria-labelledby={`h-${id}`}
  class="bg-accent/10 border-l-accent rounded-r-lg border-l-2 px-6 py-5"
>
  <h2 id={`h-${id}`} class="eyebrow">
    {eyebrow}
  </h2>
  <p class="h2 mb-6">{title}</p>
  <slot />
</section>
