---
interface Props {
  id: string
  eyebrow: string
  title: string
  titleClass?: string
}

const { id, eyebrow, title, titleClass = 'mb-6' } = Astro.props
---

<section {id} aria-labelledby={`h-${id}`}>
  <h2 id={`h-${id}`} class="eyebrow">{eyebrow}</h2>
  <p class:list={['h2', titleClass]}>{title}</p>
  <slot />
</section>
